Pane {
    -fx-background-color: #93c993;
}

.dragged-pane {
    -fx-background-color: linear-gradient(to top, #14dcb7, #618844);
    -fx-background-radius: 20px;
    -fx-border-color: linear-gradient(to bottom, #c1dc14, #b94343);
    -fx-border-width: 4px;
    -fx-border-radius: 20px;
    -fx-border-style: segments(10, 15, 15, 15) line-cap round;
}

.dragged-pane {
    -fx-font-size: 30px;
}

.info-pane {
    -fx-background-color: #43b99e;
}

.info-labels {
    -fx-font-size: 18px;
    -fx-font-family: "Corbel";
    -fx-border-width: 3px;
    -fx-border-color: #92c892;
    -fx-border-radius: 15px;
    -fx-padding: 0 0 0 15;
}

.data-pane {
    -fx-background-color: #2a7563;
}

Label {
    -fx-font-size: 18px;
    -fx-font-family: "Corbel";
    -fx-border-width: 3px;
    -fx-border-color: #92c892;
    -fx-border-radius: 15px;
    -fx-padding: 0 0 0 15;
}